@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Source Sans 3', sans-serif;
  --ifm-color-primary: #c53bff;
  --ifm-color-primary-dark: #b117ff;
  --ifm-color-primary-darker: #9d00f0;
  --ifm-color-primary-darkest: #8100c5;
  --ifm-color-primary-light: #d162ff;
  --ifm-color-primary-lighter: #db8aff;
  --ifm-color-primary-lightest: #e5b1ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c53bff;
  --ifm-color-primary-dark: #b117ff;
  --ifm-color-primary-darker: #9d00f0;
  --ifm-color-primary-darkest: #8100c5;
  --ifm-color-primary-light: #d162ff;
  --ifm-color-primary-lighter: #db8aff;
  --ifm-color-primary-lightest: #e5b1ff;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);

  --ifm-background-color: #1a1a22;
  --ifm-navbar-background-color: #2a2a35;
  --ifm-footer-background-color: #2a2a35;
  --ifm-card-background-color: #2a2a35;
  
  --ifm-font-color-base: #f6f1ff;
  --ifm-font-color-secondary: #b9b9bf;
  
  --ifm-menu-color: #b9b9bf;
  --ifm-menu-color-active: #c53bff;
  
  --ifm-link-color: #c53bff;
  --ifm-link-hover-color: #e3c1ff;

  --ifm-border-color: #3a3a45;
}
